html(lang='en', ng-app='scrum')
  head
    title  Scrum
    link(rel='stylesheet', type='text/css', href='stylesheets/scrum.css')
    style.anchorjs.
    
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link#bs-theme-stylesheet(href='data:text/css;charset=utf-8,', data-href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='https://getbootstrap.com/assets/css/docs.min.css', rel='stylesheet')
    link(href='stylesheets/dragula.min.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/xeditable.css', rel='stylesheet')
    link(href='stylesheets/adaptive-modal.css', rel='stylesheet')
    link(href='stylesheets/menuslide.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://getbootstrap.com/assets/js/ie8-responsive-file-warning.js')
  body.cbp-spmenu-push    
    #st-container(ng-controller='dashboardController as dashboard')
      nav.navbar.navbar-scrum
        #st-trigger-effects.column
          button.menu-trigger.btn-lg(type='button',show-menu='click')
            span.glyphicon.glyphicon-th
        .container
          .navbar-header
          #navbar.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.active
                .navbar-brand(href='#') {{dashboard.header}}
          // /.nav-collapse
      menu-slide
      .container
        columnas.row.inline(dragula='"column-bag"', dragula-model='dashboard.kanban.columns')
        #form(flip-form="invisible")
          .container-fluid
            .col-sm-9
              .panel-body.col-md-8.col-md-offset-2
                form.form-horizontal
                  .form-group
                    label.col-sm-2.control-label(for='inputEmail3') Email
                    .col-sm-10
                      input#inputEmail3.form-control(type='email', placeholder='Email')
                  .form-group
                    label.col-sm-2.control-label(for='inputPassword3') Password
                    .col-sm-10
                      input#inputPassword3.form-control(type='password', placeholder='Password')
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      .checkbox
                        label
                          input(type='checkbox')
                          |  Remember me
                  .form-group
                    .col-sm-offset-2.col-sm-10
                  button.btn.btn-default(type='submit') Sign in
       
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
  script(type='text/javascript', src='javascripts/angular-dragula.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
  script(type='text/javascript', src='javascripts/app.js')
  script(src='javascripts/classie.js')
  script(src='javascripts/xeditable.min.js')
  script(src='javascripts/classie.js')
  script(src='javascripts/flipElement.js')
  script(src='javascripts/tareas.js')
  script(src='javascripts/columnas.js')
  script(src='javascripts/utils.js')
